<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BOSReport.Properties.Settings.PhoXinhConnectionString" connectionString="Data Source=192.168.1.200;Initial Catalog=ERPLamViet2_Empty_Test;User ID=sa;Password=dbbyserp147852369" providerName="System.Data.SqlClient"/>
        <add name="BOSReport.Properties.Settings.WorkingConnectionString1" connectionString="Data Source=192.168.1.20;Initial Catalog=Working;Persist Security Info=True;User ID=sa;Password=abc123;Application Name=BOSDataAccess" providerName="System.Data.SqlClient"/>
        <add name="BOSReport.Properties.Settings.WorkingConnectionString2" connectionString="Data Source=THANHTRUNG-PC;Initial Catalog=Working;User ID=sa;Password=abc123" providerName="System.Data.SqlClient"/>
        <add name="BOSReport.Properties.Settings.WorkingConnectionString" connectionString="Data Source=192.168.1.20;Initial Catalog=Working;Persist Security Info=True;User ID=sa;Password=abc123;Application Name=BOSDataAccess" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
