insert into AAColumnAlias Values (0, '', 'Alive', 'GELocationFullName', N'Vị trí', 'RP_IncomeStatement', '', '', '', '', 1,1)
INSERT INTO ADTemplateParams (AAStatus,ADTemplateParamNo,ADTemplateParamName,ADTemplateParamValue,ADTemplateParamIsDisplay,FK_ADTemplateID,ADTemplateParamOrder,ADTemplateParamDataType,ADTemplateParamLookupEdit,ADTemplateParamColumns,ADTemplateParamFilter,ADTemplateParamParentField,ADTemplateParamFieldRelation,ADTemplateParamIsNotNull) SELECT N'Alive',N'GELocationID',N'Vị trí',N'',1,(select ADTemplateID from ADTemplates where ADTemplateNo = 'RP_IncomeStatement'),9,N'Number',N'GELocations',N'',N'AAStatus = ''Alive''',N'',N'',0
