<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CompanyName" value="BOS Point of Sale" />
		<add key="ConnectionString" value="Data Source=27.71.27.23,11435;Initial Catalog=ERPTransformer;User ID=3h4lHUF3JiuvO2hANMgG9w==;Password=afcdO/KI/EYMOvXDruf5kUPmQIuY/xnC" />
		<add key="ServerName" value="27.71.27.23,11435" />
		<add key="DatabaseName" value="ERPTransformer" />
		<add key="UserID" value="3h4lHUF3JiuvO2hANMgG9w==" />
		<add key="Password" value="afcdO/KI/EYMOvXDruf5kUPmQIuY/xnC" />
		<add key="CSCompanyID" value="1" />
		<add key="ReportPath" value="\\Reports" />
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="MediaType" value="text/jpeg" />
		<add key="Port" value="587" />
		<add key="FileSizeAttach" value="1" />
		<add key="TimeOut" value="60" />
		<add key="Pop3Server" value="pop.gmail.com" />
		<add key="Pop3Port" value="995" />
		<!--<add key="ApiBaseUrl" value="http://115.79.35.119:9883/api/vinmus/" />-->
		<add key="ProjectCode" value="2a77c4ed-15b5-4998-812c-88e8a59c2236" />
		<add key="Environment" value="Transformer" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="TemplateServerPath" value="\\192.168.1.3\BTPImage"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>