<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CompanyName" value="Happy" />
		<add key="ConnectionString" value="Data Source=61.28.238.135,1433;Initial Catalog=ERPHappyUAT;User ID=C5YwKP3J4iY=;Password=K17R1m8T65CiTQS9ST74QZpvcslf1SKv" />
		<add key="ServerName" value="61.28.238.135,1433" />
		<add key="DatabaseName" value="ERPHappyUAT" />
		<add key="UserID" value="C5YwKP3J4iY=" />
		<add key="Password" value="K17R1m8T65CiTQS9ST74QZpvcslf1SKv" />
		<add key="CSCompanyID" value="1" />
		<add key="ReportPath" value="\\Reports" />
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="MediaType" value="text/jpeg" />
		<add key="Port" value="587" />
		<add key="FileSizeAttach" value="1" />
		<add key="TimeOut" value="60" />
		<add key="Pop3Server" value="pop.gmail.com" />
		<add key="Pop3Port" value="995" />
		<add key="ApiBaseUrl" value="" />
		<add key="ProjectCode" value="265d88f8-3f43-4574-925e-978d6e46841e" />
		<add key="Environment" value="UAT" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="TemplateServerPath" value="\\192.168.1.3\BTPImage"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>
