<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CompanyName" value="TEST Đức Thành" />
		<add key="ConnectionString" value="Data Source=192.168.7.7,49414;Initial Catalog=ERP_DTTest;User ID=ZsY18Wita5qZUYhDwyJxtw==;Password=PM9N52ZyKe5ttY/nwmAw4A==" />
		<add key="ServerName" value="192.168.7.7,49414" />
		<add key="DatabaseName" value="ERP_DTTest" />
		<add key="UserID" value="ZsY18Wita5qZUYhDwyJxtw==" />
		<add key="Password" value="PM9N52ZyKe5ttY/nwmAw4A==" />
		<add key="CSCompanyID" value="1" />
		<add key="ReportPath" value="\\Reports" />
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="MediaType" value="text/jpeg" />
		<add key="Port" value="587" />
		<add key="FileSizeAttach" value="1" />
		<add key="TimeOut" value="60" />
		<add key="Pop3Server" value="pop.gmail.com" />
		<add key="Pop3Port" value="995" />
		<add key="ApiBaseUrl" value="" />
		<add key="ProjectCode" value="42e33427-4a0d-454f-8a1e-fb277d5aa2a1" />
		<add key="Environment" value="UAT" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="TemplateServerPath" value="\\192.168.1.3\BTPImage"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>
