<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CompanyName" value="HoangAnhFurniture" />
		<add key="ConnectionString" value="Data Source=61.28.229.136,1433;Initial Catalog=NGUYENHOANGFURN;User ID=ByhrihqwAvgPZ5K0Ml9/ng==;Password=NpfR7XKftuWjQG8KI1OqQ1GRQaZo8+vY" />
		<add key="ServerName" value="61.28.229.136,1433" />
		<add key="DatabaseName" value="NGUYENHOANGFURN" />
		<add key="UserID" value="ByhrihqwAvgPZ5K0Ml9/ng==" />
		<add key="Password" value="NpfR7XKftuWjQG8KI1OqQ1GRQaZo8+vY" />
		<add key="CSCompanyID" value="1" />
		<add key="ReportPath" value="\\Reports" />
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="MediaType" value="text/jpeg" />
		<add key="Port" value="587" />
		<add key="FileSizeAttach" value="1" />
		<add key="TimeOut" value="60" />
		<add key="Pop3Server" value="pop.gmail.com" />
		<add key="Pop3Port" value="995" />
		<add key="DownloadedURL" value="http://61.28.229.136:81/HoangAnhAutoUpdate/"/>
		<add key="VersionFileName" value="Version.xml"/>
		<add key="ApiBaseUrl" value="" />
		<add key="ProjectCode" value="18c4d4c5-7236-430c-b277-742951a72e19" />
		<add key="Environment" value="UAT" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="TemplateServerPath" value="\\192.168.1.3\BTPImage"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>