<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CompanyName" value="Nghĩa Sơn" />
		<add key="ConnectionString" value="Data Source=sql.bys.vn,51433;Initial Catalog=ERPIntership2021;User ID=jw6iiL6wNaN+1UKIqDlmyw==;Password=CDJEji474nx6ZHOcwj/xl29lH2fvUjz4" />
		<add key="ServerName" value="sql.bys.vn,51433" />
		<add key="DatabaseName" value="ERPIntership2021" />
		<add key="UserID" value="jw6iiL6wNaN+1UKIqDlmyw==" />
		<add key="Password" value="CDJEji474nx6ZHOcwj/xl29lH2fvUjz4" />
		<add key="CSCompanyID" value="1" />
		<add key="ReportPath" value="\\Reports" />
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="MediaType" value="text/jpeg" />
		<add key="Port" value="587" />
		<add key="FileSizeAttach" value="1" />
		<add key="TimeOut" value="60" />
		<add key="Pop3Server" value="pop.gmail.com" />
		<add key="Pop3Port" value="995" />
		<!--<add key="ApiBaseUrl" value="http://115.79.35.119:9883/api/vinmus/" />-->
		<add key="ProjectCode" value="423ae309-8c21-4e2d-b67a-d3534f6992ca" />
		<add key="Environment" value="UAT" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="TemplateServerPath" value="\\192.168.1.3\BTPImage"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>